<div>

    <div *ngIf="!(isLoadingUsers$ | async); else loading">
        <div fxLayout="column" fxLayoutAlign="center center">
            <span fxFlexOffset="15px">User List:</span>
            <ul>
                <li *ngFor="let user of users$ | async">
                    <input type="radio" name="selectedUser"
                    [checked]="(selectedUsers$ | async)?.id === user.id"
                    (change)="selectUser(user)" />
                    {{ user.name }} - {{ user.email }}
                </li>
            </ul>
        </div>


        <div fxLayoutAlign="center" fxLayoutGap="2" *ngIf="visibleAction === ActionsType.None">
            <button (click)="showAddUserForm()">Show add User form</button>
            <button (click)="showSelectedUser()">Show selected user</button>
        </div>

        <div *ngIf="visibleAction === ActionsType.AddUser">
            <app-add-user class="actions-container" (userAdded)="onUserAdded($event)" (close)="closeActionWindow()"></app-add-user>
        </div>

        <div *ngIf="visibleAction === ActionsType.ShowSelectedUser">
            <app-show-user class="actions-container" (close)="closeActionWindow()" [user]="selectedUsers$ | async"></app-show-user>
        </div>
    </div>
</div>

<ng-template #loading>
    <p>Loading<span class="dots"></span></p>
</ng-template>