<div *ngIf="(addresses$ | async)!.length > 0">
    <app-show-address-list [addressList]="(addresses$ | async)!" [selectedAddress]="(selectedAddress$ | async)!"
        (selectAddress)="selectAddress($event)"></app-show-address-list>

    <div fxLayoutAlign="center" fxLayoutGap="2" *ngIf="visibleAction === AddressActionsType.None">
        <button (click)="showAddAddressForm()">Show add address form</button>
        <button (click)="showSelectedAddress()">Show selected address</button>
    </div>

    <div *ngIf="visibleAction === AddressActionsType.AddAddress">
        <app-add-address class="actions-container" (userAdded)="onAddressAdd($event)"
            (close)="closeActionWindow()"></app-add-address>
    </div>

    <div *ngIf="visibleAction === AddressActionsType.ShowSelectedAddress">
        <app-show-address class="actions-container" (close)="closeActionWindow()"
            [address]="selectedAddress$ | async"></app-show-address>
    </div>
</div>